.sa {
    width: 50%;
    margin-left: 60px;
    margin-top: 30px;
    border: solid 2px black;
    background-image: url("../../assets/back5.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 1rem;
}


.sa path {
    fill: #03C03C;
    stroke: black;
    stroke-width: .5px ;
    transition: fill 0.3s;
    transition: all 1s ease;
    border: none !important;
}

.sa :hover {
    fill: goldenrod;
}

.saf{
    width: 40%;
    height: 175px;
    border-radius: 1rem;
    border: solid 2px black;
    position: absolute;
    top: 488px;
    left: 1075px;
}

.sADetail{
    width: 40%;
    min-height: 300px;
    padding: 5px;
    background-color: white;
    position:absolute;
    top: 30px;
    right: 80px;
    background-image: url("../../assets/back5.jpg");
    background-size: 100%;
    border-radius: 1rem;
    border: solid 2px black;
    text-align: center;
    color: black;
}

.sADetail p {
    font-size: 20px;
    font-weight: bold;
}

.quiz {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 75px;
    left: 1700px;
    border-radius: 20%;
    transition: all 1s ease;
}

.quiz:hover {
    transform: scale(1.3);
}

.name {
    width: 280px;
    height: 50px;
    position: absolute;
    top: 100px;
    left: 675px;
    border: solid 1px black;
    border-radius: 1rem;
    transition: all 1s ease;
    font-size: large;
    color: white;
    background-color: 	#2E5090;
    text-align: center;
    font-family: 'M PLUS 1p', sans-serif;
}

.backB {
    background: no-repeat center center fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    width: 100%;
    position: fixed;
}
