.sa {
    width: 40%;
    margin-left: 75px;
    margin-top: 100px;
    border: solid 2px #FEBE10;
    background-color: #002D62;
    border-radius: 40%;
    display: left;
}

.sa path {
    fill: #009E60;
    stroke: black;
    stroke-width: .5px ;
    transition: fill 0.3s;
}

.sa :hover {
    fill: #FEBE10;
}