.sa {
    width: 48%;
    margin-left: 75px;
    margin-top: 50px;
    border: solid 3px black;
    background-image: url("../../assets/sa.gif");
    background-size: 140%;
    background-repeat: no-repeat;
    border-radius: 40%;
    display: left;
}


.sa path {
    fill: #8cc751;
    stroke: black;
    stroke-width: .5px ;
    transition: fill 0.3s;
}

.sa :hover {
    fill: #FEBE10;
}

.saf{
    max-width: 500px;
    height: 125px;
    border-radius: 40%;
    border: solid 3px black;
    position: absolute;
    top: 695px;
    left: 550px;
}
.sADetail{
    width: 40%;
    min-height: 300px;
    padding: 5px;
    background-color: white;
    position:absolute;
    top: 115px;
    right: 50px;
    background-color: #8cc751;
    border-radius: 10%;
    border: solid 3px black;
    text-align: center;
    color: black;
}
.sADetail p {
    font-size: 15px;
    font-weight: bold;
}

.quiz {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 560px;
    left: 1400px;
    border-radius: 20%;
    transition: all 1s ease;
}

.quiz:hover {
    transform: scale(1.3);
}

.name {
    width: 225px;
    height: 50px;
    position: absolute;
    top: 225px;
    left: 675px;
    border: solid 1px black;
    border-radius: 30%;
    transition: all 1s ease;
    font-size: 15px;
    color: white;
    background-color: 	#40826D;
    text-align: center;
    font-family: 'M PLUS 1p', sans-serif;
}
