@import url('https://fonts.googleapis.com/css2?family=Delius&family=Gentium+Book+Plus&family=Zilla+Slab:wght@300&display=swap');

body {
    font-family: 'Zilla Slab', serif;
}


.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 4rem;
    color: white;
    background: #0a2351;
    padding: 0 100px;

    & h1{
        color: #FEBE10;
        border-radius: 6px;
        font-size: xx-large;

        & a{
            color: white;
            text-decoration: none;
        }
    }
    & h2{
        display: none;
        border: 1px solid white;
        padding: 5px;
    }
}

.navList {
    display: flex;
    width: 70%;
    position: relative;

    a:last-child{
        position: absolute;
        right: 0;
    }

    & a {
        align-items: center;
        display: flex;
        justify-content: center;
        list-style-type: none;
        margin: 0 20px;
        padding: 6px;
        text-decoration: none;
        font-style: bold;
        font-size: x-large;
    }

    & a:hover {
        transition: .5s;
        transform: scale(1.2);
    }
}

@media only screen and (max-width:1000px) {
    .header{
        padding: 0 15px;
        width: 100%;

        & h2{
            display: block;
        }

        .navList{
            position: absolute;
            right: 0;
            width: 0;
            top: 4rem;
            height: 100vh;
            z-index: 100;
            flex-direction: column;
            background-color: white;

            a:last-child{
                position: static;
            }
        }
    }
}