@import url('https://fonts.googleapis.com/css2?family=Delius&family=Gentium+Book+Plus&family=Zilla+Slab:wght@300&display=swap');

body {
    font-family: 'Zilla Slab', serif;
}

.header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: black;
    height: 4rem;
    color: white;
    background: #0a2351;
    padding: 0 100px;
    box-shadow: 2px 2px 4px goldenrod, -2px -2px 4px goldenrod;

    & h1{
        color: #FEBE10;
        // margin-left: 11rem;
        border-radius: 6px;
        min-width: 75px;
        font-size: xx-large;
    }
}
.navList {
    display: flex;
    width: 70%;

    a:last-child{
        margin-left: 200px;
    }
    a:first-child{
        margin-right: 600px;
        color: white;
    }

    & a {
        align-items: center;
        // border: 1px solid black;
        // border-radius: 6px;
        display: flex;
        justify-content: center;
        list-style-type: none;
        margin: 0 20px;
        min-width: 75px;
        padding: 6px;
        text-decoration: none;
        // background-color: #ACE1AF;
        font-family: 'Zilla Slab', serif;
        font-size: large;
        font-style: bold;
        font-size: x-large;
    }

    & a:hover {
    //     background-color: #FEBE10;
        transition: .5s;
        transform: scale(1.2);
        
    }
}