@import url('https://fonts.googleapis.com/css2?family=Delius&family=Gentium+Book+Plus&family=Zilla+Slab:wght@300&display=swap');

body {
    font-family: 'Zilla Slab', serif;
}

.header{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100%;
    background-color: black;
    height: 4rem;
    color: white;
    background: #002D62;

    & h1{
        color: #FEBE10;
        margin-left: 11rem;
        align-items: center;
        border-radius: 6px;
        display: flex;
        min-width: 75px;
        font-size: xx-large;
    }
}
.navList {
    display: flex;

    & a {
        align-items: center;
        border: 1px solid black;
        border-radius: 6px;
        display: flex;
        justify-content: center;
        list-style-type: none;
        margin: 0 20px;
        min-width: 75px;
        padding: 6px;
        text-decoration: none;
        // background-image: url("../../assets/quiz.png");
        background-color: #ACE1AF;
        font-family: 'Zilla Slab', serif;
        font-size: large;
        font-style: bold;
        font-size: x-large;
    }

    & a:hover {
        background-color: #FEBE10;
        transition: .5s;
    }
}