
.worldMap {
    width: 50%;
    margin-right: 400px;
    border: solid;
    background-color: aqua;
}

.worldMap path {
    // fill: #CC1100;
    stroke: black;
    stroke-width: 2px ;
    transition: fill 0.3s;
}

.worldMap :hover {
    fill: #000;
}
