
.worldMap {
    width: 40%;
    margin-left: 75px;
    margin-top: 30px;
    border: solid 3px #FEBE10;
    background-color: #002D62;
    border-radius: 60%;
    display: left;
}

.worldMap path {
    stroke: #FEBE10;
    stroke-width: .5px ;
    transition: fill 0.3s;
    fill: #106918
}

.worldMap :hover {
    fill: #FEBE10;
}

body {
    background-image: url("../../assets/world_map.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
