
.worldMap {
    width: 40%;
    margin-left: 575px;
    margin-top: 30px;
    background-color: #0a2351;
    border-radius: 60%;
    display: left;
}

.worldMap path {
    stroke: black;
    stroke-width: 1px ;
    transition: fill 0.3s;
    fill: #17B169
}

.worldMap :hover {
    fill: #FEBE10;
}

body {
    background: url("../../assets/back5.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
}


.naQuote{
    top: 225px;
    left: 175px;
    position: absolute;
    background-color: #0a2351;
    width: 335px;
    height: 60px;
    color: goldenrod;
    text-align: left;
    border-radius: .3rem;
    border: solid 1px black;
}


.amFlag{
    top: 132px;
    left: 300px;
    position: absolute;
}

.amFlag:hover {
    transform: scale(1.3);
}


.hdt {
    top: 200px;
    left: 457px;
    position: absolute;
}

.saQuote{
    top: 650px;
    left: 210px;
    position: absolute;
    background-color: #0a2351;
    width: 265px;
    height: 75px;
    color: goldenrod;
    border-radius: .3rem;
    text-align: left;
    opacity: .9;
    border: solid 1px black;
}

.brFlag{
    top: 570px;
    left: 275px;
    position: absolute;
}

.brFlag:hover {
    transform: scale(1.3);
}


.pele {
    top: 615px;
    left: 435px;
    position: absolute;
}

.afQuote{
    top: 425px;
    left: 140px;
    position: absolute;
    font-weight: bold;
    background-color: #0a2351;
    width: 280px;
    height: 90px;
    color: goldenrod;
    text-align: left;
    border-radius: .3rem;
    opacity: .9;
    border: solid 1px black;
}

.saFlag{
    top: 360px;
    left: 225px;
    position: absolute;
}

.saFlag:hover {
    transform: scale(1.3);
}


.nelson {
    top: 415px;
    left: 365px;
    position: absolute;
}


.euQuote{
    top: 225px;
    left: 1435px;
    position: absolute;
    font-weight: bold;
    background-color: #0a2351;
    width: 325px;
    height: 75px;
    color: goldenrod;
    text-align: right;
    border-radius: .3rem;
    opacity: .9;
    border: solid 1px black;
}

.geFlag{
    top: 140px;
    left: 1315px;
    position: absolute;
}

.geFlag:hover {
    transform: scale(1.3);
}

.einstein {
    top: 175px;
    left: 1315px;
    position: absolute;
}

.asQuote{
    top: 440px;
    left: 1508px;
    position: absolute;
    font-weight: bold;
    background-color: #0a2351;
    width: 348px;
    height: 55px;
    color: goldenrod;
    text-align:right;
    border-radius: .3rem;
    opacity: .9;
    border: solid 1px black;
}

.chFlag{
    top: 340px;
    left: 1385px;
    position: absolute;
}

.chFlag:hover {
    transform: scale(1.3);
}

.lee {
    top: 400px;
    left: 1405px;
    position: absolute;
}


.ocQuote{
    top: 650px;
    left: 1425px;
    position: absolute;
    font-weight: bold;
    background-color: #0a2351;
    width: 405px;
    height: 55px;
    color: goldenrod;
    text-align:right;
    border-radius: .3rem;
    border: solid 1px black;
    opacity: .9;
}

.auFlag{
    top: 550px;
    left: 1345px;
    position: absolute;
}

.auFlag:hover {
    transform: scale(1.3);
}

.franklin {
    top: 600px;
    left: 1350px;
    position: absolute;
}


.prompt{
    position: absolute;
    top: 225px;
    left: 750px;
}

.prompt{
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 6s;
    -moz-animation: fadeIn ease 6s;
    -o-animation: fadeIn ease 6s;
    -ms-animation: fadeIn ease 6s;
    -webkit-animation: fadeOut 3000 3s ease-in;
    -moz-animation: fadeOut 3000 3s ease-in;
    -o-animation: fadeOut 3000 3s ease-in;
    animation: fadeOut 3000 3s ease-in;
    color: goldenrod;
    font-size: 25px;
}

@-webkit-keyframes fadeIn{
    from{opacity: 0;}
    to{opacity: 1;}
}

@-moz-keyframes fadeIn{
    from{opacity: 0;}
    to{opacity: 1;}
}

@-o-keyframes fadeIn{
    from{opacity: 0;}
    to{opacity: 1;}
}

@keyframes fadeIn{
    from{opacity: 0;}
    to{opacity: 1;}
}

@-webkit-keyframes fadeOut{
    0%{opacity: 0;}
    30%{opacity: 1;}
    80%{opacity: .9;}
    100%{opacity: 0;}
}

@-moz-keyframes fadeOut{
    0%{opacity: 0;}
    30%{opacity: 1;}
    80%{opacity: .9;}
    100%{opacity: 0;}
}

@-o-keyframes fadeOut{
    0%{opacity: 0;}
    30%{opacity: 1;}
    80%{opacity: .9;}
    100%{opacity: 0;}
}

@keyframes fadeOut{
    0%{opacity: 0;}
    30%{opacity: 1;}
    80%{opacity: .9;}
    100%{opacity: 0;}
}
