.oceania {
    width: 45%;
    margin-left: 75px;
    margin-top: 80px;
    border: solid 3px #ACE1AF;
    background-image: url("../../assets/oceania2.gif");
    background-size: 140%;
    background-repeat: no-repeat;
    border-radius: 40%;
    display: left;
}

.oceania path {
    fill: #1DB954;
    stroke: black;
    stroke-width: 10px ;
    transition: fill 0.3s;
}

.oceania :hover {
    fill: #FEBE10;
}

.oceanicDetail{
    width: 40%;
    min-height: 300px;
    padding: 5px;
    background-color: white;
    border-radius: 10%;
    position:absolute;
    top: 200px;
    right: 90px;
}

.saf{
    max-width: 500px;
    height: 125px;
    border-radius: 40%;
    border: solid 3px black;
    position: absolute;
    top: 645px;
    left: 550px;
}