body {
    overflow: hidden !important;
}

.landing{
    background-color: #0a2351;
    min-height: 90vh;
}

.landing video{
    position: relative;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.landingHeader{
    position: absolute;    
    color:white;
    width: 30%;
    top: 20vh;
    left: 5vw;
    z-index: 100;
    font-size: xx-large;
    text-align: center;
    border-radius: 20px;
}

.button {
    position: absolute;
    border: 1px solid goldenrod;
    background: #40826D;
    color: 		white;
    width: 150px;
    height: 40px;
    font-size: xx-large;
    border-radius: 1rem;
    opacity: .9;
    top: 60vh;
    left: 15vw;
    z-index: 100;
    margin: auto;
    text-align: center;
    transition: all 3s ease;
    text-decoration: none;
}

.opener{
    position: absolute;
    color: 	white;
    width: 600px;
    font-size: 45px;
    border-radius: 1rem;
    right: 125px;
    top: 200px;
    text-align: center;
}


.button:hover {
    transform: scale(1.3);
}

// .button{
//     animation: fadeIn ease 3s;
//     -webkit-animation: fadeIn ease 6s;
//     -moz-animation: fadeIn ease 6s;
//     -o-animation: fadeIn ease 6s;
//     -ms-animation: fadeIn ease 6s;
//     -webkit-animation: fadeOut 3000 3s ease-in;
//     -moz-animation: fadeOut 3000 3s ease-in;
//     -o-animation: fadeOut 3000 3s ease-in;
//     animation: fadeOut 3000 3s ease-in;
// }

// @-webkit-keyframes fadeIn{
//     from{opacity: 0;}
//     to{opacity: 1;}
// }

// @-moz-keyframes fadeIn{
//     from{opacity: 0;}
//     to{opacity: 1;}
// }

// @-o-keyframes fadeIn{
//     from{opacity: 0;}
//     to{opacity: 1;}
// }

// @keyframes fadeIn{
//     from{opacity: 0;}
//     to{opacity: 1;}
// }

// @-webkit-keyframes fadeOut{
//     0%{opacity: 0;}
//     30%{opacity: 1;}
//     80%{opacity: .9;}
//     100%{opacity: 0;}
// }

// @-moz-keyframes fadeOut{
//     0%{opacity: 0;}
//     30%{opacity: 1;}
//     80%{opacity: .9;}
//     100%{opacity: 0;}
// }

// @-o-keyframes fadeOut{
//     0%{opacity: 0;}
//     30%{opacity: 1;}
//     80%{opacity: .9;}
//     100%{opacity: 0;}
// }

// @keyframes fadeOut{
//     0%{opacity: 0;}
//     30%{opacity: 1;}
//     80%{opacity: .9;}
//     100%{opacity: 0;}
// }

@media only screen and (max-width:800px){
    .landing video{
        position: relative;
        min-width: 50%;
        min-height: 50%;
    }
    .landingHeader{
        width: 80%;
    }
}