@import url('https://fonts.googleapis.com/css2?family=Delius&family=Gentium+Book+Plus&family=Zilla+Slab:wght@300&display=swap');

.footer{
    display: flex;
    justify-content: center;
    margin: auto;
    font-size: 23px;
    background: #0a2351;
    color: #FEBE10;
    height: 1rem;
    position: fixed;
    text-align: center;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    padding-bottom: 50px;
    font-size: 20px;
}

.socialList {
    display: contents;
    justify-content: center;
    align-items: center;
    bottom: 1rem;
    width: 10%;
    left: 300px;
}