.footer{
    display: flex;
    justify-content: center;
    margin: auto;
    box-shadow: 2px 2px 4px #4FFFB0, -2px -2px 4px #4FFFB0;
    font-size: 23px;
    background: #14558f;
    color: white;
    height: 2rem;
    position: fixed;
    text-align: center;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%
}