.europe {
    width: 50%;
    margin-left: 35px;
    margin-top: 50px;
    border: solid 3px black;
    background-image: url("../../assets/eu.gif");
    background-size: 210%;
    background-repeat: no-repeat;
    border-radius: 40%;
    display: left;
}

.europe path {
    fill: #1DB954;
    stroke: black;
    stroke-width: 1px ;
    transition: fill 0.3s;
}

.europe :hover {
    fill: #ACE1AF;
}

.euf{
    max-width: 500px;
    height: 125px;
    border-radius: 40%;
    border: solid 3px black;
    position: absolute;
    top: 635px;
    left: 635px;
}

.europeDetail{
    width: 40%;
    min-height: 300px;
    padding: 5px;
    background-color: white;
    position:absolute;
    top: 115px;
    right: 90px;
    background-color: #73C2FB;
    border-radius: 10%;
    border: solid 3px black;
    text-align: center;
    color: black;
}
.europeDetail p {
    font-size: 15px;
    font-weight: bold;
}

.quiz {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 575px;
    left: 1340px;
    border-radius: 20%;
    transition: all 1s ease;
}

.quiz:hover {
    transform: scale(1.3);
}

.name {
    width: 175px;
    height: 60px;
    position: absolute;
    top: 275px;
    left: 675px;
    border: solid 1px black;
    border-radius: 30%;
    transition: all 1s ease;
    font-size: large;
    color: #FAF9F6;
    background-color: 	#6082B6;
    text-align: center;
    font-family: 'M PLUS 1p', sans-serif;
}
