*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page {
    background-color: #ddd;
    margin: 2rem auto;
    padding: 20px;

    &h1 {
        margin-bottom: 10px;
        text-decoration: underline;
    }
}

