.quiz {
    text-align: center;
}

.question_card {
    margin: 0 auto;

    background-color: grey;
    padding: 16px;
    border-radius: 16px;
    color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
        rgba(0, 0, 0.3) 0px 18px 36px -18px;

    width: 80%;
    height: auto;

}

ul {
    list-style: none;
}

li {
    background-color: darkgray;
    padding: 16px;
    border: 3px solid white;
    border-radius: 20px;
    font-size: 20px;
    margin-top: 8px;
}

.question_text {
    color: darkblue;
    font-size: 24px;
}

.final_results {
    margin: 0 auto;

    background-color: grey;
    padding: 16px;
    border-radius: 16px;
    color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
        rgba(0, 0, 0.3) 0px 18px 36px -18px;

    width: 50%;
    height: auto;
}

.button {
    margin: 0 auto;

    background-color: green;
    padding: 16px;
    border-radius: 16px;
    color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
        rgba(0, 0, 0.3) 0px 18px 36px -18px;

    width: 50%;
    height: auto;
}