.na {
    width: 40%;
    height: 20%;
    margin-left: 75px;
    margin-top: 50px;
    border: solid 3px black;
    background-image: url("../../assets/na.gif");
    background-size: 210%;
    background-repeat: no-repeat;
    border-radius: 40%;
    display: left;
}

.na path {
    fill: #DADD98;
    stroke: black;
    stroke-width: .5px ;
    transition: fill 0.3s;
}

.na :hover {
    fill: #FEBE10;
}
.nADetail{
    width: 40%;
    min-height: 300px;
    padding: 5px;
    background-color: white;
    position:absolute;
    top: 150px;
    right: 150px;
    background-color: #F8DE7E;
    border-radius: 10%;
    border: solid 3px rgb(9, 8, 8);
    text-align: center;
    color: rgb(2, 2, 2);
}
.nADetail p {
    font-size: 15px;
    font-weight: bold;
}

.quiz {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 585px;
    left: 1275px;
    border-radius: 20%;
    transition: all 1s ease;
}

.quiz:hover {
    transform: scale(1.3);
}

.name {
    width: 225px;
    height: 50px;
    position: absolute;
    top: 190px;
    left: 190px;
    border: solid 1px black;
    border-radius: 30%;
    transition: all 1s ease;
    font-size: 15px;
    color: white;
    background-color: 	#00563B;
    text-align: center;
    font-family: 'M PLUS 1p', sans-serif;
}