.na {
    width: 40%;
    margin-right: 400px;
    // border: solid;
    // background-color: aqua;
}

.na path {
    fill: #4FFFB0;
    stroke: black;
    stroke-width: 2px ;
    transition: fill 0.3s;
}

.na :hover {
    fill: #000;
}