.na {
    width: 50%;
    margin-left: 90px;
    margin-top: 50px;
    border: solid 2px black;
    background-image: url("../../assets/na.gif");
    background-size: 140%;
    background-repeat: no-repeat;
    border-radius: 1rem;
}

.na path {
    fill: #DADD98;
    stroke: black;
    stroke-width: .5px ;
    transition: fill 0.3s;
    transition: all 1s ease;
    border: none !important;
}

.na :hover {
    fill: #ACE1AF;
}

.naff {
    max-width: 500px;
    height: 140px;
    border-radius: .5rem;
    border: solid 2px black;
    position: absolute;
    top: 650px;
    left: 520px;
}

.nADetail{
    width: 40%;
    min-height: 300px;
    padding: 5px;
    background-color: white;
    position:absolute;
    top: 113px;
    right: 80px;
    background-color: #C1E1C1;
    border-radius: 1rem;
    border: solid 2px rgb(9, 8, 8);
    text-align: center;
    color: rgb(2, 2, 2);
}
.nADetail p {
    font-size: 15px;
    font-weight: bold;
}

.quiz {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 625px;
    left: 1640px;
    border-radius: 20%;
    transition: all 1s ease;
}

.quiz:hover {
    transform: scale(1.3);
}

.name {
    width: 285px;
    height: 50px;
    position: absolute;
    top: 175px;
    left: 725px;
    border: solid 1px black;
    border-radius: 1rem;
    transition: all 1s ease;
    font-size: large;
    color: white;
    background-color: 	#00563B;
    text-align: center;
    font-family: 'M PLUS 1p', sans-serif;
}