.na {
    width: 35%;
    margin-left: 75px;
    margin-top: 30px;
    border: solid 3px #1DB954;
    background-image: url("../../assets/na.gif");
    background-size: 210%;
    background-repeat: no-repeat;
    border-radius: 40%;
    display: left;
}

.na path {
    fill: #DADD98;
    stroke: black;
    stroke-width: 1.5px ;
    transition: fill 0.3s;
}

.na :hover {
    fill: #FEBE10;
}
.stateDetail{
    width: 40%;
    min-height: 300px;
    padding: 5px;
    background-color: white;
    position:absolute;
    top: 200px;
    right: 90px;
    background-color: #CC5500;
    border-radius: 10%;
    border: solid 3px black;
    text-align: center;
    color: black;
}