@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300&family=Delius&family=Gentium+Book+Plus&family=M+PLUS+1p:wght@300&family=Phudu&family=Quicksand:wght@300;400&family=Zilla+Slab:wght@300&display=swap');

.africa {
    width: 50%;
    margin-left: 90px;
    margin-top: 90px;
    border: solid 2px black;
    background-image: url("../../assets/Savanna.gif");
    background-size: 140%;
    background-repeat: no-repeat;
    border-radius: 1rem;
}

.africa path {
    fill: #1DB954;
    stroke: black;
    stroke-width: .5px ;
    transition: fill 0.3s;
    transition: all 1s ease;
    border: none !important;
}

.africa :hover {
    fill: #ACE1AF;
}

.africaDetail{
    width: 40%;
    min-height: 300px;
    padding: 5px;
    background-color: white;
    position:absolute;
    top: 152px;
    right: 80px;
    background-color: #F08000;
    border-radius: 1rem;
    border: solid 2px black;
    text-align: center;
    color: black;
}

.aff {
    max-width: 500px;
    height: 175px;
    border-radius: 1rem;
    border: solid 2px black;
    position: absolute;
    top: 650px;
    left: 475px;
}

.quiz {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 625px;
    left: 1640px;
    border-radius: 20%;
    transition: all 1s ease;
}

.quiz:hover {
    transform: scale(1.1);
}

.tippy{
    border: none;
}

.name {
    width: 165px;
    height: 50px;
    position: absolute;
    top: 250px;
    left: 675px;
    border: solid 1px black;
    border-radius: 1rem;
    transition: all 1s ease;
    font-size: large;
    color: 	#301934;
    background-color: #F0E68C;
    text-align: center;
    font-family: 'M PLUS 1p', sans-serif;
}
