.africa {
    width: 45%;
    margin-left: 75px;
    margin-top: 100px;
    border: solid 3px black;
    // background-color: #002D62;
    background-image: url("../../assets/Savanna.gif");
    background-size: 130%;
    background-repeat: no-repeat;
    border-radius: 40%;
    display: left;
}

.africa path {
    fill: #1DB954;
    stroke: black;
    stroke-width: .5px ;
    transition: fill 0.3s;
}

.africa :hover {
    fill: #ACE1AF;
}