.asia {
    width: 45%;
    margin-left: 75px;
    margin-top: 60px;
    border: solid 3px white;
    // background-color: #002D62;
    background-image: url("../../assets/asia_red2.gif");
    background-size: 140%;
    background-repeat: no-repeat;
    border-radius: 40%;
    display: left;
    // border-radius: 40%;
    // display: left;
}

.asia path {
    fill: #00573F;
    stroke: #FEBE10;
    stroke-width: .5px ;
    transition: fill 0.3s;
}

.asia :hover {
    fill: #ACE1AF;
}