.asia {
    width: 60%;
    margin-right: 400px;
    // border: solid;
    // background-color: aqua;
}

.asia path {
    fill: #CC1100;
    stroke: black;
    stroke-width: 2px ;
    transition: fill 0.3s;
}

.asia :hover {
    fill: #000;
}