@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300&family=Delius&family=Gentium+Book+Plus&family=M+PLUS+1p:wght@300&family=Phudu&family=Quicksand:wght@300;400&family=Zilla+Slab:wght@300&display=swap');

.asia {
    width: 50%;
    margin-left: 75px;
    margin-top: 60px;
    border: solid 2px black;
    background-image: url("../../assets/asia_red2.gif");
    background-size: 160%;
    background-repeat: no-repeat;
    border-radius: 1rem;
    display: left;
}

.asia path {
    fill: #018749;
    stroke: black;
    stroke-width: .3px ;
    transition: fill 0.3s;
}

.asia :hover {
    fill: #ACE1AF;
}
.asiaDetail{
    width: 40%;
    min-height: 300px;
    padding: 5px;
    background-color: #F08080;
    position:absolute;
    top: 123px;
    right: 80px;
    border: solid 2px black;
    border-radius: 1rem;
    text-align: center;
}

.asf{
    max-width: 500px;
    height: 150px;
    border-radius: 1rem;
    border: solid 2px black;
    position: absolute;
    top: 665px;
    left: 500px;
}

.quiz {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 560px;
    left: 1350px;
    border-radius: 20%;
    transition: all 1s ease;
}

.quiz:hover {
    transform: scale(1.3);
}

.name {
    width: 125px;
    height: 50px;
    position: absolute;
    top: 200px;
    left: 675px;
    border: solid 1px black;
    border-radius: 1rem;
    transition: all 1s ease;
    font-size: large;
    color: #301934;
    background-color: 	#CD5C5C;
    text-align: center;
    font-family: 'M PLUS 1p', sans-serif;
}
